/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 31, 2018, 3:37:56 PM
    Developed on : Dec 12,2018, 3:51:50 PM
    Author     : Mojtaba Amini
*/

.lineCharts{
    background-color: black;
    -fx-tick-label-fill: white;
}

.thick-chart .chart-series-line {    
-fx-stroke-width: 2px;
}
